.navbar{
  display: flex;
  margin: 20px 10px 10px 50px;
  justify-content: space-between;
}
.navbar-links{
  display: flex;
  /* text-decoration: none; */
}

.navbar-links li{
  /* text-decoration: none; */
  margin-left: 16px;
  margin-right: 20px;
  list-style-type: none;
}
.nav-item{
  text-decoration: none;
  color: rgb(110,103,140);
}
.navbar-title{
  text-decoration: none;
  color: rgb(119,100,224);
}